# Jekyll
_site/
.dist/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby
Gemfile.lock
vendor/
.bundle/

# Editor / OS
.DS_Store
Thumbs.db
*.swp
*~

# Раскомментируйте, если черновики не должны попадать на GitHub
# drafts/
